* {
    padding: 0;
    margin: 0;
}

a {
    color: #195073;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: #6F91A6;
}

nav {
    background-color: #77C3F2;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.nav_left p {
    color: white;
}

p span {
    color: #594D48;
}

nav ul {
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;

}

nav ul li {
    color: white;
    list-style-type: none;
    font-size: large;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    background-color: white;
}

/* liste des sessions */
#container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.listSession {
    border: 1px solid white;
    padding: 1rem;
    /* background-color: #262626; */
    width: 90%;
}

h3,
h4 {
    color: #262626;
}

label {

    color: white;
}

table {
    padding: 0;
    background-color: #77C3F2;
    border: none;
    width: 100%;
    box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
}

table thead tr {
    color: white;
    background-color: #262626 !important;
}

table thead th {
    text-align: center;
    padding: 0.8rem;
}

tbody tr {
    background-color: #77C3F2;
}

tr {
    color: white;
    background-color: #77C3F2 !important;
}

td {
    padding: 0.8rem;
    text-align: center;
    min-height: 60px;
}

.green {
    background-color: green;
    padding: 0.3rem;
    font-size: small;
    color: white;
    border-radius: 5px;
}

.red {
    background-color: red;
    padding: 0.3rem;
    font-size: small;
    color: white;
    border-radius: 5px;
}

.grey {
    background-color: grey;
    padding: 0.3rem;
    font-size: small;
    color: white;
    border-radius: 5px;
}

.yellow {
    background-color: yellow;
    padding: 0.3rem;
    font-size: small;
    color: white;
    border-radius: 5px;
}

.error {
    color: red;
    text-align: center;
}

#btn_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    height: 80%;
}

/* formtytype Addstagiaire  */
/* le div qui contient les formulaire et autres en option */
.option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #6f91a6ad;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}
.option .option_stagiaires{
    background-color: #6F91A6;
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
}

/* les input */
#inputes_container {
    padding: 1rem;
    background-color: #6F91A6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input_container {
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    /* background-color: #594D48; */
    width: 90%;
}

.input {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* pour page detail stagiaire et session */
.detail_container {
    /* margin-top: 2rem; */
    background-color: #6F91A6;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    width: 40%;
    box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 1px 10px 5px -2px rgba(0, 0, 0, 0.42);
}
.detail_container.session{
    width: 30%;
}

/* detail session */
/* liste stagiaire non inscrit et inscrit */
div .stagiaire_container {
    position: relative;
    padding: 0.2rem;
    border-radius: 3px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: white;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

#inscrire_btn {
    position: absolute;
    right: 0.2rem;
}

.titre {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
.plus_btn{
    font-size: xx-large;
    position: absolute;
    right: 1rem;
    bottom: 0;
}
.plus_btn:hover{
    color: green;
    transform: scale(1.5)
}
.nombre {
    background-color: #594D48;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    margin-bottom: 0.3rem;
}

/* page form programme */
#form_programme {
    background-color: #77C3F2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 5px;
}

/* page formation */
#list_session_formation {
    background-color: #77c3f273;
    padding: 2rem;
    border-radius: 5px;
    color: white;
}

h5 {
    color: #262626;
}

h5 span {
    font-size: medium;
    color: green;
}