{% extends 'base.html.twig' %}
{% block title %}nouvelle session{% endblock %}

{% block body %}
<div id="container">
    <div id="inputes_container">
        {{ form_start(formAddSession) }}
        {{ form_end(formAddSession) }}
    </div>
</div>

{% endblock %}