{% extends 'base.html.twig' %}

{% block title %}Hello ModuleSessionController!{% endblock %}

{% block body %}
<div id="container">
    <h3>nouveau module</h3>
    <div id="inputes_container">
        {{form_start (formAddModule)}}
        {{form_end (formAddModule)}}
    </div>
</div>

{% endblock %}
