{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!{% endblock %}

{% block body %}


<div id="container">
<h2>Programme de la session : {{session.intituleSession}}</h2>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Module</th>
                <th>Durée</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
            {% for programme in programmes %}

            <tr>
                <td> {{programme}}</td>
                <td>{{programme.duree}} jours</td>
                <td>{{programme.moduleSession.categorieModule}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}